@import url("http://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar {
  width: 15px;
  background-color: #dfdfdf;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3f37c9;
  border-radius: 20px;
}
